{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}"/>
        <title>Categorias</title>
    </head>
    <body>
        {% if category %}
        <div class="header">
            <h2>Lista de Enquetes da categoria {{ category.category_text }}</h2>
        </div>
            <ul>
                {% for question in category.list_polls %}
                <li><a href="{% url 'main:detalhes' question.id%}">
                    {{ question.question_text }}
                </a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Nenhuma questão disponível.</h3>
        {% endif %}
        <hr/>
        <a class="a_button" href="{% url 'main:index' %}">Retornar à pagína principal </a>
    </body>
</html>