{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}"/>
        <title>Detalhes</title>
    </head>
    <body>
        <div class="header">
        <h2>Detalhes da Enquete {{ question.id }}</h2>
        </div>
        <div class="infos">
        <u>Categoria</u>:
        {% for category in question.list_categories %}
            <a href="{% url 'main:categorias' category.id %}">{{ category }}</a>
        {% endfor %}
        <br/>
        <u>Data de Publicação</u>: {{ question.pub_date }}<br/>
        </div>
        <hr/>
        <div><h3>{{ question.question_text }}</h3></div>
        {% if error_message %}
            <hr/>
            <strong>{{ error_message }}</strong>
            <hr/>
        {% endif %}
        <form action="{% url 'main:votacao' question.id %}" method="post">
            {% csrf_token %}
            <div class="radiusContent">{% for choice in question.choice_set.all %}
                    <div class="radiusItem">
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
                    </div>
            {% endfor %}</div>
            <input class="button" type="submit" value="Registre o seu voto"/>
        </form>
    </body>
</html>