{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}"/>
        <title>Polls Aplication</title>
    </head>
    <body>
        {% if latest_question %}
        <div class="header">
            <h2>Lista de últimas Enquetes</h2>
        </div>
            <ul>
                {% for question in latest_question %}
                <li><a href="{% url 'main:detalhes' question.id%}">
                    {{ question.question_text }}
                </a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Nenhuma questão disponível.</h3>
        {% endif %}
    </body>
</html>