{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}"/>
        <title>App Enquete</title>
    </head>
    <body>
        <div class="header">
        <h2>Resultado Parcial da Enquete {{ question.id }}</h2>
        </div>
        <div class="infos">
        <u>Categoria</u>:
        {% for category in question.list_categories %}
            <a href="{% url 'main:categorias' category.id %}">{{ category }}</a>
        {% endfor %}
        <br/>
        <u>Data de Publicação</u>: {{ question.pub_date }}<br/>
        </div>
        <hr/>
        <div><h3>{{ question.question_text }}</h3></div>
        <ul>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }} = {{ choice.votes }} voto{{ choice.votes | pluralize }}</li>
            {% endfor %}
        </ul>
        <hr/>
        <a class="a_button" href="{% url 'main:detalhes' question.id %}">Deseja votar novamente?</a>
        <a class="a_button" href="{% url 'main:index' %}">Retornar à pagína principal </a>
    </body>
</html>