* {
    margin: 0;
    padding: 0;
}

body {
    background-color: 817DE0;
}

.header {
    background-color: #5E338F;
    color: white;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    text-transform: uppercase;
}

h2 {
    padding: 5px;
}

ul {
    margin-top: 3em;
    display: block;
}

ul li {
    border: 1px solid;
    border-radius: 10px;
    width: 40%;
    height: 5%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background-color: white;
}

ul li a{
    text-decoration: none;
    margin-top: 1%;
    color: black;
    font-family: system-ui;
    text-transform: uppercase;
}

ul li:hover{
    background-color: DB9125;
    color: white;
}

div h3 {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    color: white;
    font-family: system-ui;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    color: white;
    font-family: system-ui;
}

.infos {
    margin-top: 1em;
    margin-left: 1em;
    font-family: sans-serif;
}

.infos a {
    text-decoration: none;
    color: black;
}

.button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    width: 15em;
    height: 4em;
    border-radius: 10px;
}

.a_button {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 16em;
    height: 1em;
    border-radius: 10px;
    border: 15px solid black;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: black;
}

.radiusContent{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.radiusItem {
    font-family: system-ui;
    text-transform: uppercase;
    font-size: larger;
}